<!DOCTYPE html>
<html>
<head>
  <title>Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
  <!-- Difficulty setting (default: normal) -->
  <section class="row">
    <div class="small-6 columns">
      <p>DIFFICULTY</p>
    </div>
    <div class="small-6 columns">
      <button @click="chosenDiff = 0" :style="{ backgroundColor: buttonSelected(0) }">Easy</button>
      <button @click="chosenDiff = 1" :style="{ backgroundColor: buttonSelected(1) }">Normal</button>
      <button @click="chosenDiff = 2" :style="{ backgroundColor: buttonSelected(2) }">Hard</button>
    </div>
  </section>

	<!-- Health bars -->
  <section class="row">
    <div class="small-6 columns">
      <h1 class="text-center">YOU</h1>
      <div class="healthbar">
        <div class="healthbar text-center" 
           :style="{ backgroundColor: 'green', margin: 0, color: 'white', width: playerHealth+'%' }">
           {{ playerHealth }}
        </div>
      </div>
    </div>
    
    <div class="small-6 columns">
      <h1 class="text-center">MONSTER</h1>
      <div class="healthbar">
        <div class="healthbar text-center"
           :style="{ backgroundColor: 'green', margin: 0, color: 'white', width: monsterHealth+'%' }">
           {{ monsterHealth }}
        </div>
      </div>
    </div>
  </section>
  
  <!-- Start new game button -->
  <section class="row controls">
    <div class="small-12 columns">
      <button id="start-game" @click="restartGame">START NEW GAME</button>
    </div>
  </section>
  
  <!-- Action buttons and game result -->
  <section class="row controls">
    <div class="small-12 columns">
      <template v-if="gameEnd">
        <p :style="{ fontSize: '18.25px', color: playerHealth > 0 ? 'green' : 'red' }">{{ resultMessage }}</p>
      </template>
      <template v-else>
        <button id="attack"         @click="attackRound(0)">ATTACK</button>
        <button id="special-attack" @click="attackRound(1)">SPECIAL ATTACK</button>
        <button id="heal"           @click="healRound"     >HEAL</button>
        <button id="give-up"        @click="giveUp"        >GIVE UP</button>
      </template>
    </div>
  </section>
  
	<!-- Game log -->
  <section class="row log">
    <div class="small-12 columns">
      <ul>
        <li v-for="event in eventLog">
          <div v-for="p in event">{{ p }}</div>
        </li>
      </ul>
    </div>
  </section>
</div>

<script src="app.js"></script>
</body>
</html>